<div class="container">
    <div class="row">
        <div class="col-md-4 my-1" *ngFor="let gif of giphy">
            <div class="card">
                <div class="card-body">
                    <!-- Display gif  -->
                    <div style="width:100%; height: 200px;">
                        <iframe src="{{gif.url | safe}}" frameBorder="0" class="giphy-embed w-100 h-100"
                            allowFullScreen></iframe>
                    </div>
                </div>
                <div class="card-footer"><span class="text-muted">
                    {{gif.title}}
                </span></div>
            </div>
        </div>
    </div>

</div>
<iframe src="https://giphy.com/embed/p2rYPCfUzHxfAZ6wbn" width="480" height="480" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>